@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    display: flex;
    background-image: url(images/fondo.png); 
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: #FF7F50; 
    text-align: center;
}

h1.titulo{
    font-size: 4em;
}

h1.principal{
    margin-top: 300px;
}


table {
    margin: 20px auto;
    border-collapse: collapse;
}

td {
    padding: 10px;
}


input[type="text"], select {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Press Start 2P', cursive;
}

button {
    background-color: #FF7F50; 
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    animation-name: pulsar;
    animation-duration: 2s;
    font-family: 'Press Start 2P', cursive;
}

button:hover {
    background-color: #fa963d;
}

#main-content, #summary {
    display: none;
    text-align: center;
}


#game-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
    min-height: 100vh; 
    justify-content: space-between; 
    padding: 20px; 
    box-sizing: border-box; 
    position: relative; 
}

#game-board {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vmin; 
}

.card {
    width: 120px; 
    height: 100px;
    color:steelblue;
    border: 1px solid #ccc;
    background-color: #f2eeee;
    font-size: 2rem; 
    text-align: center;
    line-height: calc(50vmin / 6 - 5px); 
    cursor: pointer;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.401); /* sombra suave */
    transition: transform 0.5s ease;
    overflow: hidden;
    transform-style:preserve-3d;
}

.card img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: none; 
    padding: 0; 
}


.card.flipped img {
    display: block;
}

.card.flipped {
    font-size: 0;
    transform: rotateY(360deg); 
}

.card.banderas img {
    object-fit: contain;
    width: 100%; 
    height: auto;
    display: none;
}

.card.banderas.flipped img {
    display: block;
}

.card.match {
    animation: fadeGreen 1s ease;  
}

#timer-container, #moves-counter{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FF7F50;
}

#moves-counter{
    margin-bottom: 10px;;
}

@keyframes fadeGreen {
    0% {
        background-color: rgba(40, 167, 69, 0.7);
    }
    100% {
        background-color: #f2eeee;
    }
    }

@keyframes pulsar {
    from{
        opacity:0;
    }to{
        opacity: 100;
    }
}

#timer {
 transform: scale(1.5);
}

input[type="radio"] {
    transform: scale(1.2);
    margin: 7px;
}